
<div class="container">
  <form #lancamentoForm="ngForm" autocomplete="off" (ngSubmit)="salvar(lancamentoForm)">
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando? 'Edição de' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="col-12">
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <p-button type="submit" icon="pi pi-save" label="Salvar" styleClass="p-button-sm" [disabled]="!lancamentoForm.valid"></p-button>
            <p-button type="button" icon="pi pi-user-plus" label="Novo" styleClass="p-button-sm" (click)="novo(lancamentoForm)"></p-button>
          </ng-template>
          <ng-template pTemplate="right">
            <p-button type="button" icon="pi pi-sign-out" label="Voltar para a pesquisa" styleClass="p-button-sm" routerLink="/lancamentos"></p-button>
          </ng-template>
        </p-toolbar>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo name="tipo"
        [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [readonlyInput]="true"
            [inline]="false" [readonlyInput]="false" [showIcon]="true"
            [(ngModel)]="lancamento.dataVencimento" name="dataVencimento"
            #vencimento="ngModel" [required]="true"></p-calendar>

        <app-message [control]="vencimento.control" error="required" text="Informe a data de vencimento"></app-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento':'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [showIcon]="true"
            [(ngModel)]="lancamento.dataPagamento" #pegamento="ngModel"></p-calendar>

        <app-message [control]="pegamento.control" error="required" text="Informe a data de {{tipo.value === 'RECEITA' ? 'recebimento':'pagamento'}}"></app-message>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" class="p-inputtext-sm" name="descricao"
        [(ngModel)]="lancamento.descricao"
        ngModel #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>

        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.['minlength']?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.['minlength']?.actualLength }}">
        </app-message>

      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label for="currency">Valor</label>
        <p-inputNumber inputId="currency" mode="currency" currency="BRL" locale="en-BR" class="p-inputtext-sm"
        [(ngModel)]="lancamento.valor" name="valor" #valor="ngModel" [required]="true"></p-inputNumber>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria <!--{{ categoria.value }}--></label>
        <p-dropdown [options]="categorias" placeholder="Selecione" class="p-inputtext-sm"
        [(ngModel)]="lancamento.categoria.codigo" name="categoria"
        #categoria [required]="true"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa <!--{{pessoa.value}}--></label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione" class="p-inputtext-sm"
        [(ngModel)]="lancamento.pessoa.codigo"
        name="pessoa" #pessoa [required]="true"></p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label>Observação</label>
        <span class="p-float-label">
            <textarea inputId="textarea" rows="5" style="resize: none;" cols="170" pInputTextarea
            name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
        </span>
      </div>

    </div>
  </form>
</div>
