<div class="container">
    <div class="p-grid">
      <form autocomplete="off" (ngSubmit)="pesquisar()" (keydown.enter)="$event.preventDefault()">
        <div class="p-col-12">
          <h1>Pessoas</h1>
        </div>

        <div class="p-col-12 p-fluid">
          <label>Nome</label>
          <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
        </div>
        <br>

        <div class="p-grid">
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <button pButton pRipple label="Nova Pessoa" icon="pi pi-user-plus" class="p-button-success mr-2 p-button-sm" routerLink="/pessoas/novo"></button>
            </ng-template>

            <ng-template pTemplate="right">
              <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-sm"></button>
            </ng-template>
          </p-toolbar>
          <div class="p-col-12">
            <p-table [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
            [responsive]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            #tabela>
                <ng-template pTemplate="caption">
                  Pessoas
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Status</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-pessoa>
                  <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.endereco.cidade }}</td>
                    <td>{{ pessoa.endereco.estado }}</td>
                    <td>
                      <span class="p-column-title">Status</span>
                      <a href="javascript:;" style="font-weight: bold"
                      [style.color]="pessoa.ativo ? 'green' : 'red'"
                      [pTooltip]   ="pessoa.ativo ? 'Desativar' : 'Ativar'"
                      tooltipPosition="top"
                      (click)="alternarStatus(pessoa)">
                      {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                      </a>
                    </td>
                    <td class="col-acoes">
                      <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary p-button-outlined p-button-sm" pTooltip="Editar pessoa" tooltipPosition="top"></button>
                      <button pButton pRipple type="button" icon="pi pi-trash"
                      class="p-button-rounded p-button-danger p-button-outlined p-button-sm"
                    pTooltip="Excluir pessoa" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">
                      Nenhuma pessoa encontrada
                    </td>
                  </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
      </form>
    </div>
</div>
