
<div class="container">
    <form #pessoasForm="ngForm" autocomplete="off" (ngSubmit)="salvar(pessoasForm)">
      <div class="grid">
        <div class="col-12">
          <h1>Nova Pessoa</h1>
        </div>

        <div class="col-12">
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <p-button type="submit" icon="pi pi-save" label="Salvar" styleClass="p-button-sm" [disabled]="!pessoasForm.valid"></p-button>
              <p-button type="button" icon="pi pi-user-plus" label="Novo" styleClass="p-button-sm"></p-button>
            </ng-template>
            <ng-template pTemplate="right">
              <p-button type="button" icon="pi pi-sign-out" label="Voltar para a pesquisa" styleClass="p-button-sm" routerLink="/pessoas"></p-button>
            </ng-template>
          </p-toolbar>
        </div>

        <div class="col-12 p-fluid">
          <label>Nome</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText class="p-inputtext-sm" name="nome" [(ngModel)]="pessoa.nome" #nome="ngModel" [required]="true" minlength="10">
          </div>

          <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.['minlength']?.requiredLength }} caracteres. Você digitou apenas {{ nome.errors?.['minlength']?.actualLength }}">
          </app-message>
        </div>

        <div class="col-12 md:col-9 p-fluid">
          <label>Logradouro</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="logradouro" [(ngModel)]="pessoa.endereco.logradouro" #logradouro="ngModel" [required]="true" minlength="10">

          <app-message [control]="logradouro" error="required" text="Informe o nome"></app-message>
          <app-message [control]="logradouro" error="minlength"
            text="Mínimo de {{ logradouro.errors?.['minlength']?.requiredLength }} caracteres. Você digitou apenas {{ logradouro.errors?.['minlength']?.actualLength }}">
          </app-message>
        </div>

        <div class="col-12 md:col-3 p-fluid">
          <label>Numero</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="numero" [(ngModel)]="pessoa.endereco.numero" #numero="ngModel" [required]="true">

          <app-message [control]="numero" error="required" text="Informe o número"></app-message>
        </div>

        <div class="col-12 md:col-4 p-fluid">
          <label>Complemento</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="complemento" [(ngModel)]="pessoa.endereco.complemento">
        </div>

        <div class="col-12 md:col-4 p-fluid">
          <label>Bairro</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="bairro" [(ngModel)]="pessoa.endereco.bairro" #bairro="ngModel" [required]="true">

          <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>
        </div>

        <div class="col-12 md:col-4 p-fluid">
          <label>Cep</label>
          <p-inputMask mask="99.999-999" class="p-inputtext-sm" name="cep" [(ngModel)]="pessoa.endereco.cep" #cep="ngModel" [required]="true"></p-inputMask>

          <app-message [control]="cep" error="required" text="Informe o cep"></app-message>
        </div>

        <div class="col-12 md:col-6 p-fluid">
            <label>Cidade</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="cidade" [(ngModel)]="pessoa.endereco.cidade" #cidade="ngModel" [required]="true">

          <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label>Estado</label>
          <input type="text" pInputText class="p-inputtext-sm"
          name="estado" [(ngModel)]="pessoa.endereco.estado" #estado="ngModel" [required]="true">

          <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
        </div>

      </div>
    </form>
  </div>
