<nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <p-button type="button" (click)="exibindoMenu = !exibindoMenu" icon="pi pi-bars"></p-button>
        <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-usuario">Artur Ferreira</li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos">Lançamentos</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
          <li class="navbar-menuitem" routerLinkActive="ativo"><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
