<div class="container">
    <div class="p-grid">
      <form autocomplete="off" (ngSubmit)="pesquisar()" (keydown.enter)="$event.preventDefault()">
        <div class="p-col-12">
          <h1>Lançamentos</h1>
        </div>
        <br>

        <div class="p-col-12 p-fluid">
          <label>Descrição</label>
          <input pInputText type="text" class="p-inputtext-sm" name="descricao" [(ngModel)]="filtro.descricao">
        </div>
        <br>

        <div class="p-col-12">
          <label style="display: block" >Vencimento</label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
          name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio" [required]="true" class="p-inputtext-sm"></p-calendar>

          <label class="label">até</label>
          <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
          name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim" [required]="true" class="p-inputtext-sm"></p-calendar>
        </div>
        <br>

        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Novo Lançamento" icon="pi pi-user-plus" class="p-button-success mr-2 p-button-sm" routerLink="/lancamentos/novo"></button>
          </ng-template>

          <ng-template pTemplate="right">
            <button pButton type="submit" label="Pesquisar" icon="pi pi-search" class="p-button-sm"></button>
          </ng-template>
        </p-toolbar>

        <div class="p-grid">
          <div class="p-col-12">
            <p-table #dt [value]="lancamentos" [paginator]="true" [responsive]="true"
            [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
            [rowHover]="true"
            [globalFilterFields]="['pessoa', 'descricao']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true"
            styleClass="p-datatable-sm p-datatable-gridlines" #tabela>
              <!--
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  <h4 class="m-0">Lançamentos</h4>
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                  </span>
                </div>
              </ng-template>
              -->
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="pessoa">Pessoa<p-sortIcon field="pessoa"></p-sortIcon></th>
                  <th pSortableColumn="descricao">Descricao<p-sortIcon field="descricao"></p-sortIcon></th>
                  <th pSortableColumn="vencimento" class="col-data-header">Vencimento<p-sortIcon field="vencimento"></p-sortIcon></th>
                  <th pSortableColumn="pagamento" class="col-data-header">Pagamento<p-sortIcon field="pagamento"></p-sortIcon></th>
                  <th pSortableColumn="valor" class="col-valor-header">Valor<p-sortIcon field="valor"></p-sortIcon></th>
                  <th ></th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-lancamento>
                <tr>
                  <td>{{ lancamento.pessoa }}</td>
                  <td>{{ lancamento.descricao }}</td>
                  <td class="col-data-content">{{ lancamento.dataVencimento | date:'dd/MM/y'}}</td>
                  <td class="col-data-content">{{ lancamento.dataPagamento | date:'dd/MM/y'}}</td>
                  <td class="col-valor-content" style="font-weight: bold" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{
                    lancamento.valor | currency: 'BRL': true }}</td>
                  <td class="col-acoes">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-primary p-button-outlined p-button-sm"
                    pTooltip="Editar lançamento" tooltipPosition="top" [routerLink]="['/lancamentos', lancamento.codigo]"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-outlined p-button-sm"
                    pTooltip="Excluir lançamento" tooltipPosition="top" (click)="confirmarExclusao(lancamento)"></button>
                  </td>
                </tr>
              </ng-template>
              <!--
              <ng-template pTemplate="summary" >
                <div class="flex align-items-center justify-content-between">
                  Existe {{lancamentos ? lancamentos.length : 0 }} lançamentos.
                </div>
              </ng-template>
              -->
            </p-table>
          </div>
        </div>
      </form>
    </div>
</div>
