/* You can add global styles to this file, and also import other style files */
html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

@media (min-width: 1300px) {
    .container {
        width: 1270px;
        margin: 0 auto;       
    }
}

.label {
    margin: 0.5em;
}

.col-valor-header {
    width: 120px;
    text-align: center !important;
}
  
.col-valor-content {
    text-align: right !important ;
}
  
.col-data-header {
    width: 120px;
}
  
.col-data-content {
    text-align: center !important;
}

.col-acoes {
    width: 140px;
    text-align: center !important;
}

.col-acoes .p-button {
    margin: 1px;
}